$lightgray: #e9e9e9

.search
    flex: 1
    margin: 0 15px 0

.search input
    width: 100%
    box-sizing: border-box
    margin-top: 15px
    border-radius: 5px
    border: 1px solid $lightgray
    padding: 9px 10px
    font-size: 14px
    font-weight: 500
    &:focus
        outline: none

@media (max-width: 585px)
    .search
        flex: auto
        width: 100%
        margin-right: 15px