$blue: #5c99ff

.menu-button
    font-weight: 600
    font-size: 14px
    border-radius: 2px
    &:hover
        cursor: pointer
        opacity: 0.9

.open-button
    color: $blue
    border: 2px solid $blue
    padding: 9px 14px
    &:hover
        background: $blue
        color: white
        border: 0
        padding: 11px 16px

.filled-button
    background: $blue
    color: white
    padding: 11px 16px