$lightpink: #ffe8e8
$pink: #f8cbcb
$red: #ff6565
    
.error-message
    display: flex
    align-items: center
    justify-content: center
    background-color: $lightpink
    border: 1px solid $pink
    padding: 7px 0
    border-radius: 2px
    margin-bottom: 10px
    .fa-exclamation-circle
        margin-top: 1px
        margin-right: 10px
        font-size: 13.5px
        color: $red
    p
        font-size: 13.5px